body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
    webkit-tap-highlight-color: #fed136;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
}

a {
    color: #fed136;
}

a:hover,
a:focus,
a:active,
a.active {
    color: #fec503;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color:#fec503;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
/*Navegador*/
.navbar-default {
    border-color: transparent;
    background-color:#fec503;
}

.navbar-default .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    color:black;
}

.navbar-collapse {
    border-color: rgba(255,255,255,.02);
}

.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fed136;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: black;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: black;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: white;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: black;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #fec503;
}

@media(min-width:768px) {
    .navbar-default {
        padding: 15px 0;
        border: 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #fec503;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}
.btn-xl {
    padding: 15px 30px;
    border-color: #fed136;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}
/*header*/
header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(../img/bg3.jpg);
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
header .container-fluid{
    padding-left:0!important;
    padding-right:0!important;
}
header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}
.opacity-inspiracion {
    padding: 29% 15% 9% 15%;
    background-color: rgba(0, 0, 0, 0.7);
 }

@media(min-width:768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }

    header .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: 'Raleway', sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    header .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}
/*sobre-mi*/
section.sobre-mi {
    padding: 60px 0;
}

section h2.section-heading {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    color:black!important;
    margin:20px 50px;
    text-transform: none;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
}

@media(min-width:768px) {
    .sobre-mi{
        padding: 50px 0;
    }
}
.portafolio{
    padding:20px 0px;
}
.portafolio h3{
    color:black!important;
    font-size:16px!important;
    margin:40px 0px;
}
@media(min-width:768px) {
    .portafolio {
        padding: 50px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}
.collage{
    padding:22% 0% 0%;
    background:url("../img/imagenx4.jpg")no-repeat;
    background-size:100%;
}
/*portfolio*/
.bg-light-gray {
    background-color: #f7f7f7;
}
#hover {
  color: rgba(188, 175, 204, 0.9); 
}

h2#testimonials {
  color: rgb(94, 244, 177);
}

div#all {
  width: 100%;
}

/* generic css */
.view {
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    font-family: Raleway, serif;
    padding: 10px;
    /*background: rgba(0, 0, 0, 0.8);*/
    margin: 20px 0 0 0
}
.view p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #fff;
    padding: 0px 20px 0px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    font-family: Raleway, serif;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

/*1*/

.view-first img { /*1*/
    transition: all 0.2s linear;
    width: 300px;
}
.view-first .mask {
    opacity: 0;
      background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.4s ease-in-out;
    
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    font-family: Raleway, serif;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

/* */

.view-first:hover img { 
    transform: scale(1.1);
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
.view-tenth:hover .mask { 
    opacity: 1;
}                                                                            
.view-tenth:hover h2,
.view-tenth:hover p,
.view-tenth:hover a.info{ 
    transform: scale(1);
    opacity: 1;
}
.habilidades{
    text-align: center;
    padding:7% 0%;
}
.habilidades h2{
    padding:0% 0% 2%!important;
}
.habilidades h4{
    color: black!important;
}
.habilidades img{
    width:30%;
    padding:5% 0%;
}
.habilidades p{
    font-size:1.8em;
    padding:5% 20% 0%;
}
.banner {
    padding: 122px 0;
    background:url(../img/contact_header.jpg)no-repeat center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}
.banner h3{
    color:black;
    margin:20px 50px;
    text-transform: none;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;

}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2, {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }
    .banner h3{
        margin:0 50;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons {
        margin-bottom: 0;
        margin-right:50px;
        margin-left:50px;
    }
}

footer {
    padding: 1% 5%;
}
footer h5{
    color:black!important;
}
